<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Do you have...?
  <ul>
  	<li>An Idea</li>
  	<li>Time and motivation</li>
  	<li>Money</li>
  	<li>Contacts</li>
  </ul>
  Then we have something to tell you.
</p>