<li>
  <%= link_to image_tag(user.image.url, :class => 'user_image'), user %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t("confirm.delete"), user, method: :delete,
                                  data: { confirm: t("confirm.sure") } %>
  <% end %>
</li>