<% @user ||= current_user %>
<div class="stats">
  <a href="<%= participants_project_path(@project) %>">
    <strong id="participants" class="stat">
      <%= @project.participants.count %>
    </strong>
    <span id="participants_label"><%= pluralize_without_count(@project.participants.count, t("stats.participants")) %></span>
  </a>
</div>