<%= form_for(current_user.participations.build(project_id: @project.id), remote: true) do |f| %>
  <div><%= f.hidden_field :project_id %></div>
  <%= f.submit t("buttons.join"), class: "btn btn-large btn-primary" %>
<% end %>