<% unless current_user?(@project.user)%>
  <div id="join_form">
  <% if current_user.joined?(@project) %>
    <%= render 'unjoin' %>
  <% else %>
    <%= render 'join' %>
  <% end %>
  </div>
<% end %>