<% provide(:title, 'All projects') %>
<div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Projects in <%= params[:search]%></h3>
      <ul class="projects">
        <%= render @projects %>
      </ul>
    </div>
</div>