<footer class="footer">
  <small>
    <%= link_to "MicroRevolutions", root_path %> © 2013
  </small>
  <nav>
    <ul>
      <li><%= link_to t("footer.links.about"), about_path %></li>
      <li><%= link_to t("footer.links.contact"), contact_path %></li>
    </ul>
  </nav>
</footer>